$global_color:  #baa770;

@import 'ng-animation';

@import 'mixin';

@import 'side';

@import 'plan';

@import 'modal';
body{
	color: #eee;
}
.pt20{
	padding-top: 20px;
}
.pos-r{
	position: relative;
}
.btn-overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.tab-bar__content{
	bottom: 0;
}
.w100{
	max-width: 100%;
	height: auto;
}
/**
 * loading
 */
#loading{
	background: #FFF;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	&.active{
		@include easeOutQuart(800);
		opacity: 0;
		z-index: -999;
	}
	.loading-bar{
		margin-top: 5px;
		width: 250px;
		height: 1px;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		span{
			// @include easeOutQuart(800);
			background: #4F8EF7;
			display: block;
			width: 0;
			height: 1px;
		}
	}
	.loading-txt{
		text-align: center;
		color: #4F8EF7;
		font-size: 16px;
		position: fixed;
		left: 50%;
		top: 50%;
		width: 250px;
		margin-left: -100px;
		margin-top: -50px;
		i{
			color: #4F8EF7;
			font-size: 30px;
		}
	}
}
#page{
	opacity: 0;
	&.active{
		@include easeOutQuart(800);
		opacity: 1;
	}
}

:checked + .tab-bar__button{
	color: #baa770;
}
.tab-bar{
	z-index: 999;
	position: fixed;
}
.color-select-view{
	position: absolute;
	width: 100%;
	height: 100%;
	// background-color: #FFF;
	background-position: center center;
	background-size:cover;
	z-index: 2;
		&.prev{
			z-index: 1;
		}

}
ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
.list-inline{
	list-style:none;
	margin: 0;
	padding: 0;
	li{
		
		display: inline-block;
		margin-right: 4px;
	}
}

.texture,.tops{
	clear: both;
	overflow: hidden;
	padding: 10px 20px;
	position: relative;
	.texture-view{
		float: left;
		width: 100px;
		margin-right: 4px;
				
		p{
			font-size: 10px;
			color: #FFF;
			margin: 0;
		}
	}
	img{
			max-width: 100%;
			height: auto;
	}
	ul{
		overflow: hidden;
		li{
			width: 50px;
			vertical-align: top;
		}
	}
}
.label{
	line-height: 35px;
	text-align: right;
	display: block;
	margin-bottom: 10px;
}
.btn-switch{
	margin-left: 10px;
	float: right;
	overflow: hidden;
	border: 1px solid #fff;
	width: 50px;
	padding: 2px;
	-webkit-border-radius:25px;
	        border-radius:25px;
	@include easeOutQuart(600);
	background: transparent;
	
	.button{
		@include easeOutQuart(300);
		position: relative;
		left: 0;
		padding: 15px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background: #FFF;
	}
	&.active{
		// background-color:#baa770;
		.button{
			left:20px;
			// background-color: #baa770;
		}
	}
}
/**
 * View
 */
#ViewRenderer{
	background: rgb(206, 206, 206);
}

.floormap{
	padding-right: 20px;
	position: relative;
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 1000;
	background: rgba(0,0,0,0.2);
	padding:15px;
	.beam{
		position: absolute;
		left: 70px;
		bottom: -8px;
		@include easeOutQuart();
		transform:rotate(0deg);
	}
}
#azimuth{
	width: 40px;
	position: absolute;
	right:10px;
	bottom: 10px;
	img{
		width: 40px;
		height: auto;
	}
}

.content{
	
}

.home-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/top.jpg');
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	// @include easeOutQuart(2000);
	// -webkit-filter: blur(0px);
 //            filter: blur(0px);
	// &.active{
	// 	-webkit-filter: blur(20px);
 //            filter: blur(20px);
	// }
}
