$global_color:  #baa770;

@import 'ng-animation';

@import 'mixin';

@import 'side';
body{
	color: #eee;
}
.pt20{
	padding-top: 20px;
}
.pos-r{
	position: relative;
}
.btn-overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.tab-bar__content{
	bottom: 0;
}
.w100{
	max-width: 100%;
	height: auto;
}
:checked + .tab-bar__button{
	color: #baa770;
}
.tab-bar{
	z-index: 999;
	position: fixed;
}
.color-select-view{
	position: absolute;
	width: 100%;
	height: 100%;
	// background-color: #FFF;
	background-position: center center;
	background-size:cover;
	z-index: 2;
		&.prev{
			z-index: 1;
		}

}
ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
.list-inline{
	list-style:none;
	margin: 0;
	padding: 0;
	li{
		
		display: inline-block;
		margin-right: 4px;
	}
}

.texture,.tops{
	clear: both;
	overflow: hidden;
	padding: 10px 20px;
	position: relative;
	.texture-view{
		float: left;
		width: 100px;
		margin-right: 4px;
				
		p{
			font-size: 10px;
			color: #FFF;
			margin: 0;
		}
	}
	img{
			max-width: 100%;
			height: auto;
	}
	ul{
		overflow: hidden;
		li{
			width: 50px;
			vertical-align: top;
		}
	}
}
.label{
	line-height: 35px;
	text-align: right;
	display: block;
	margin-bottom: 10px;
}
.btn-switch{
	margin-left: 10px;
	float: right;
	overflow: hidden;
	border: 1px solid #fff;
	width: 50px;
	padding: 2px;
	-webkit-border-radius:25px;
	        border-radius:25px;
	@include easeOutQuart(600);
	background: transparent;
	
	.button{
		@include easeOutQuart(300);
		position: relative;
		left: 0;
		padding: 15px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background: #FFF;
	}
	&.active{
		// background-color:#baa770;
		.button{
			left:20px;
			// background-color: #baa770;
		}
	}
}
/**
 * View
 */
#ViewRenderer{
	background: rgb(206, 206, 206);
}

.floormap{
	padding-right: 20px;
	position: relative;
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 1000;
	background: rgba(0,0,0,0.2);
	padding:15px;
	.beam{
		position: absolute;
		left: 70px;
		bottom: -8px;
		@include easeOutQuart();
		transform:rotate(0deg);
	}
}
#azimuth{
	width: 40px;
	position: absolute;
	right:10px;
	bottom: 10px;
	img{
		width: 40px;
		height: auto;
	}
}
/**
 * Plan
 *
 */
.bg-plan{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity:0;
	overflow: hidden;
	div{
		position: absolute;
		width: 120%;
		height: 120%;
		left:-10%;
		top: -10%;
		background-image: url('../img/top.jpg');
		background-repeat: no-repeat;
		background-position: center -30px;
		-webkit-background-size: cover;
		        background-size: cover;
		@include easeOutQuart(500);
		-webkit-filter: blur(20px);
	            filter: blur(20px);
	}
	@include easeOutQuart(1500);
	&.active{
		opacity: 1;
		div{
		}
	}
}
.content{
	width: 68%;
	position: relative;
	z-index: 2;
}

.plans{
	box-sizing: border-box;
	color: #FFF;
	position: relative;
	font-size: 14px;
	margin: 30px 0 60px 20px;
	overflow: hidden;
	
	li{
		box-sizing: border-box;
		width: 48%;
		float: left;
		margin-right: 2%;	
		margin-bottom: 20px;
		padding: 10px 20px;		
		border: 1px solid #fff;
		.type-name{
			span{
				font-size: 25pt;
			}
		}
	}
}

.btn{
	border: 1px solid #fff;
	color: #FFF;
	display: inline-block;
	padding: 10px 20px;
	@include easeOutQuart(500);
}
.btn-group{
	width: 100%;
	text-indent: 0;
	margin-bottom: 20px;
	display: table;
	text-align: center;
	.btn{
		display: table-cell;
		border-left: none;
		font-size: 15px;
		&.active{
			background: #FFF;
			color: $global_color;
			border-right:1px solid #ddd;
		}
	}
	:first-child{
		-webkit-border-radius: 6px 0 0 6px;
		        border-radius: 6px 0 0 6px;
	    border-left: 1px solid #fff;
	}
	:last-child{
		-webkit-border-radius: 0 6px 6px 0;
		        border-radius: 0 6px 6px 0;
	}
}

/**
 * Range slider 
 */
.range-slider{
	// position: relative;
	// height: 40px;
	// padding: 20px 0 0;
	// span{
	// 	display: block;
	// }
	// .handle{
	// 	-webkit-border-radius: 30px;
	// 	        border-radius: 30px;
	//     height: 30px;
	//     width: 30px;
	// 	background: #fff;
	// 	position: absolute;
	// 	left: 0;
	// 	top:0;
	// 	z-index:3;
	// 	-webkit-box-shadow: #999 0 0 3px;
	// 	        box-shadow: #999 0 0 3px;
	// }
	// .bar{
	// 	-webkit-border-radius: 3px;
	// 	        border-radius: 3px;
	//     height: 6px;
	// 	background: $global_color;
		
	// }
	// .range-bg{
	// 	-webkit-border-radius: 3px;
	// 	        border-radius: 3px;
	//     width: 100%;
	//     height: 6px;
	// 	background: #fff;
	// 	position: absolute;
	// 	top:12px;
	// 	z-index: 1;
	// }
}
$slider-width: 100%;
$slider-height: 20px;
$color-white: white;

.is_clickable {
    cursor: hand;
    cursor: pointer;
}


//
// slider styles
//

.nstSlider {
    
    position: relative;
    width: $slider-width;
    height: $slider-height;

    .leftGrip.gripHighlighted {
        background:#fff;
    }
    .rightGrip.gripHighlighted {
        background:#fff;
    }

    .rightGrip,
    .leftGrip {
        position: absolute;
        width: 30px;
        height: 30px;
        background: $color-white;

    }

    .bar {
        position: absolute;
        background: $global_color;
        height: $slider-height - 12px;
        top: 10px;
        -webkit-border-radius: 15px;
    	        border-radius: 15px;
    }

    .highlightPanel {
       	width: 100%;
        position: absolute;
        background: #fff;
        height: $slider-height - 12px;
        top: 10px;
        -webkit-border-radius: 15px;
    	        border-radius: 15px;
    }
    .handle{
    	-webkit-border-radius: 30px;
    	        border-radius: 30px;
        -webkit-box-shadow: #999 0 0 3px;
                box-shadow: #999 0 0 3px;
    }
}
.meter {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #fff;
	overflow: hidden;
	position: relative;
	width: 100%;
	.inner{
		display: table;
		width: 105%;
		left: -2.5%;
		position: relative;
			span{
			width: 11%;
			display: table-cell;
			text-align: center;
			position: relative;
			&:after{
				border-left: 1px solid #fff;
				position: absolute;
				content: ' ';
				height: 5px;
				position: absolute;
				left: 50%;
				bottom:-5px;
			}
		}
	}
	
}
// styling these should be really up to you as they live outside this plugin
.leftLabel  { 
}
.rightLabel { 
}

