@charset "UTF-8";
/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */
.toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.toggle.ng-enter {
  opacity: 0;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
}
.toggle.ng-enter-active {
  opacity: 1;
}
.toggle.ng-leave {
  opacity: 1;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
}
.toggle.ng-leave-active {
  opacity: 0;
}
.toggle.ng-hide-add {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.toggle.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.toggle.ng-hide-remove {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.toggle.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/* ------------------------------------------- */
/* Slide Top 
/* ------------------------------------------- */
.slide-top {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.slide-top.ng-enter {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.slide-top.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
.slide-top.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-top.ng-leave-active {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0;
}
.slide-top.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-top.ng-hide-add.ng-hide-add-active {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0;
}
.slide-top.ng-hide-remove {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.slide-top.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* ------------------------------------------- */
/* Slide Rigth 
/* ------------------------------------------- */
.slide-right {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.slide-right.ng-enter {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.slide-right.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
.slide-right.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-right.ng-leave-active {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0;
}
.slide-right.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-right.ng-hide-add.ng-hide-add-active {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0;
}
.slide-right.ng-hide-remove {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.slide-right.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* ------------------------------------------- */
/* Slide Left 
/* ------------------------------------------- */
.slide-left {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.slide-left.ng-enter {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.slide-left.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
.slide-left.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-left.ng-leave-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}
.slide-left.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-left.ng-hide-add.ng-hide-add-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}
.slide-left.ng-hide-remove {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.slide-left.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
.slide-down {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.slide-down.ng-enter {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.slide-down.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
.slide-down.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-down.ng-leave-active {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0;
}
.slide-down.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-down.ng-hide-add.ng-hide-add-active {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0;
}
.slide-down.ng-hide-remove {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.slide-down.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* ------------------------------------------- */
/* Bouncy Slide Top 
/* ------------------------------------------- */
.bouncy-slide-top {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}
.bouncy-slide-top.ng-enter {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.bouncy-slide-top.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
.bouncy-slide-top.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.bouncy-slide-top.ng-leave-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0;
}
.bouncy-slide-top.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.bouncy-slide-top.ng-hide-add.ng-hide-add-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0;
}
.bouncy-slide-top.ng-hide-remove {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.bouncy-slide-top.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* ------------------------------------------- */
/* Bouncy Slide Rigth 
/* ------------------------------------------- */
.bouncy-slide-right {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}
.bouncy-slide-right.ng-enter {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.bouncy-slide-right.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
.bouncy-slide-right.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.bouncy-slide-right.ng-leave-active {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0;
}
.bouncy-slide-right.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.bouncy-slide-right.ng-hide-add.ng-hide-add-active {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0;
}
.bouncy-slide-right.ng-hide-remove {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.bouncy-slide-right.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* ------------------------------------------- */
/* Bouncy Slide Left 
/* ------------------------------------------- */
.bouncy-slide-left {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}
.bouncy-slide-left.ng-enter {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.bouncy-slide-left.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
.bouncy-slide-left.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.bouncy-slide-left.ng-leave-active {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0;
}
.bouncy-slide-left.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.bouncy-slide-left.ng-hide-add.ng-hide-add-active {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0;
}
.bouncy-slide-left.ng-hide-remove {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.bouncy-slide-left.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
.bouncy-slide-down {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}
.bouncy-slide-down.ng-enter {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.bouncy-slide-down.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
.bouncy-slide-down.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.bouncy-slide-down.ng-leave-active {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0;
}
.bouncy-slide-down.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.bouncy-slide-down.ng-hide-add.ng-hide-add-active {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0;
}
.bouncy-slide-down.ng-hide-remove {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.bouncy-slide-down.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* ------------------------------------------- */
/* Fade 
/* ------------------------------------------- */
.fade {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.fade.ng-enter {
  transition-duration: 800ms;
  -webkit-transition-duration: 800ms;
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  transition-duration: 800ms;
  -webkit-transition-duration: 800ms;
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}
.fade.ng-hide-add {
  transition-duration: 800ms;
  -webkit-transition-duration: 800ms;
  opacity: 1;
}
.fade.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.fade.ng-hide-remove {
  transition-duration: 800ms;
  -webkit-transition-duration: 800ms;
  display: block !important;
  opacity: 0;
}
.fade.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/* ------------------------------------------- */
/* Scale Fade 
/* ------------------------------------------- */
.scale-fade {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.scale-fade.ng-enter {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.scale-fade.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
.scale-fade.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.scale-fade.ng-leave-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0;
}
.scale-fade.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.scale-fade.ng-hide-add.ng-hide-add-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0;
}
.scale-fade.ng-hide-remove {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.scale-fade.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* ------------------------------------------- */
/* Spin Fade 
/* ------------------------------------------- */
.spin-toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.spin-toggle.ng-enter {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.spin-toggle.ng-enter-active {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1;
}
.spin-toggle.ng-leave {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.spin-toggle.ng-leave-active {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  opacity: 0;
}
.spin-toggle.ng-hide-add {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.spin-toggle.ng-hide-add.ng-hide-add-active {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  opacity: 0;
}
.spin-toggle.ng-hide-remove {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.spin-toggle.ng-hide-remove.ng-hide-remove-active {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1;
}

/* ------------------------------------------- */
/* Scale in Fade 
/* ------------------------------------------- */
.scale-fade-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.scale-fade-in.ng-enter {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.scale-fade-in.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
.scale-fade-in.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.scale-fade-in.ng-leave-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}
.scale-fade-in.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.scale-fade-in.ng-hide-add.ng-hide-add-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}
.scale-fade-in.ng-hide-remove {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.scale-fade-in.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* ------------------------------------------- */
/* Bouncy Scale in Fade 
/* ------------------------------------------- */
.bouncy-scale-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}
.bouncy-scale-in.ng-enter {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  opacity: 0;
}
.bouncy-scale-in.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
.bouncy-scale-in.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  opacity: 1;
}
.bouncy-scale-in.ng-leave-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}
.bouncy-scale-in.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  opacity: 1;
}
.bouncy-scale-in.ng-hide-add.ng-hide-add-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}
.bouncy-scale-in.ng-hide-remove {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  display: block !important;
  opacity: 0;
}
.bouncy-scale-in.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */
.flip-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
.flip-in.ng-enter {
  transform: perspective(300px) rotateX(90deg);
  -ms-transform: perspective(300px) rotateX(90deg);
  -webkit-transform: perspective(300px) rotateX(90deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 0.7;
}
.flip-in.ng-enter-active {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1;
}
.flip-in.ng-leave {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1;
}
.flip-in.ng-leave-active {
  transform: perspective(300px) rotateX(135deg);
  -ms-transform: perspective(300px) rotateX(135deg);
  -webkit-transform: perspective(300px) rotateX(135deg);
  opacity: 0.7;
}
.flip-in.ng-hide-add {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1;
}
.flip-in.ng-hide-add.ng-hide-add-active {
  transform: perspective(300px) rotateX(135deg);
  -ms-transform: perspective(300px) rotateX(135deg);
  -webkit-transform: perspective(300px) rotateX(135deg);
  opacity: 0;
}
.flip-in.ng-hide-remove {
  transform: perspective(300px) rotateX(90deg);
  -ms-transform: perspective(300px) rotateX(90deg);
  -webkit-transform: perspective(300px) rotateX(90deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  display: block !important;
  opacity: 0;
}
.flip-in.ng-hide-remove.ng-hide-remove-active {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1;
}

/* ------------------------------------------- */
/* Rotate In 
/* ------------------------------------------- */
.rotate-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}
.rotate-in.ng-enter {
  transform: perspective(300px) rotateY(40deg);
  -ms-transform: perspective(300px) rotateY(40deg);
  -webkit-transform: perspective(300px) rotateY(40deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 0.7;
}
.rotate-in.ng-enter-active {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1;
}
.rotate-in.ng-leave {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1;
}
.rotate-in.ng-leave-active {
  transform: perspective(300px) rotateY(-40deg);
  -ms-transform: perspective(300px) rotateY(-40deg);
  -webkit-transform: perspective(300px) rotateY(-40deg);
  opacity: 0.7;
}
.rotate-in.ng-hide-add {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1;
}
.rotate-in.ng-hide-add.ng-hide-add-active {
  transform: perspective(300px) rotateY(-40deg);
  -ms-transform: perspective(300px) rotateY(-40deg);
  -webkit-transform: perspective(300px) rotateY(-40deg);
  opacity: 0;
}
.rotate-in.ng-hide-remove {
  transform: perspective(300px) rotateY(40deg);
  -ms-transform: perspective(300px) rotateY(40deg);
  -webkit-transform: perspective(300px) rotateY(40deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  display: block !important;
  opacity: 0;
}
.rotate-in.ng-hide-remove.ng-hide-remove-active {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1;
}

/** ベンダープレフィックス **/
/**
*	easeInOutBack
*
**/
/**
*	easeOutCubic
*
**/
/**
*	easeInOutQuart
*
**/
/**
* easeInOutQuart
*
**/
.side {
  -webkit-transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #ddd;
  min-width: 300px;
  z-index: 4;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  padding-bottom: 100px;
}
.side h3 {
  padding: 0 20px;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: #FFF;
  margin-bottom: 10px;
}
.side .wrap {
  overflow: hidden;
  padding: 0 20px;
  color: #FFF;
  font-size: 12px;
}
.side .side-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side .side-list .side-list-item {
  border-top: none !important;
  border-bottom: none !important;
  margin-bottom: -1px;
  margin-bottom: 10px;
  padding: 0 20px;
  margin: 0 0 10px;
  line-height: 40px;
  height: 40px;
}
.side .side-list .side-list-item span {
  border: none;
  font-size: 18px;
  color: #eee;
  position: relative;
  display: block;
  text-align: center;
  -webkit-transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side .side-list .side-list-item .svg-wrapper:hover span, .side .side-list .side-list-item .svg-wrapper.active span {
  color: #FFF;
}

.svg-wrapper {
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.svg-wrapper svg {
  position: absolute;
}
.svg-wrapper .shape {
  stroke-width: 0px;
  stroke-dashoffset: 0;
  stroke-dasharray: 0;
  fill: transparent;
  transition: stroke-width 2.5s, stroke-dashoffset 2.5s, stroke-dasharray 2.5s;
}

.btn-close {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 10;
  -webkit-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-close:before {
  width: 50px;
  position: absolute;
  bottom: 30px;
  content: ' ';
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-close:after {
  width: 50px;
  position: absolute;
  bottom: 30px;
  content: ' ';
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.side.close {
  right: -500px;
}

.close.btn-close {
  cursor: pointer;
  width: 40px;
  border-top: 1px solid #fff;
}
.close.btn-close:before {
  width: 40px;
  bottom: 31px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.close.btn-close:after {
  width: 40px;
  bottom: 16px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.svg-wrapper:hover .shape, .svg-wrapper:active .shape, .svg-wrapper.active .shape {
  stroke-width: 1px;
  stroke-dashoffset: 100;
  stroke-dasharray: 2000;
  stroke: #fff;
}

.toggle-switch {
  padding: 15px 0;
}
.toggle-switch span {
  cursor: pointer;
  padding: 0 2%;
  display: inline-block;
  width: 45%;
  font-size: 14px;
  -webkit-transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.toggle-switch span.active {
  color: #fff;
  font-weight: bold;
}
.toggle-switch :first-child {
  text-align: right;
  border-right: 1px solid #eee;
}

.caution {
  padding: 15px 20px;
  color: #eee;
}

small {
  font-size: 12px;
}

body {
  color: #eee;
}

.pt20 {
  padding-top: 20px;
}

.pos-r {
  position: relative;
}

.btn-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.tab-bar__content {
  bottom: 0;
}

.w100 {
  max-width: 100%;
  height: auto;
}

:checked + .tab-bar__button {
  color: #baa770;
}

.tab-bar {
  z-index: 999;
  position: fixed;
}

.color-select-view {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  z-index: 2;
}
.color-select-view.prev {
  z-index: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  display: inline-block;
  margin-right: 4px;
}

.texture, .tops {
  clear: both;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}
.texture .texture-view, .tops .texture-view {
  float: left;
  width: 100px;
  margin-right: 4px;
}
.texture .texture-view p, .tops .texture-view p {
  font-size: 10px;
  color: #FFF;
  margin: 0;
}
.texture img, .tops img {
  max-width: 100%;
  height: auto;
}
.texture ul, .tops ul {
  overflow: hidden;
}
.texture ul li, .tops ul li {
  width: 50px;
  vertical-align: top;
}

.label {
  line-height: 35px;
  text-align: right;
  display: block;
  margin-bottom: 10px;
}

.btn-switch {
  margin-left: 10px;
  float: right;
  overflow: hidden;
  border: 1px solid #fff;
  width: 50px;
  padding: 2px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  background: transparent;
}
.btn-switch .button {
  -webkit-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  left: 0;
  padding: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FFF;
}
.btn-switch.active .button {
  left: 20px;
}

/**
 * View
 */
#ViewRenderer {
  background: #cecece;
}

.floormap {
  padding-right: 20px;
  position: relative;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.floormap .beam {
  position: absolute;
  left: 70px;
  bottom: -8px;
  -webkit-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotate(0deg);
}

#azimuth {
  width: 40px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#azimuth img {
  width: 40px;
  height: auto;
}

/**
 * Plan
 *
 */
.bg-plan {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.bg-plan div {
  position: absolute;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  background-image: url("../img/top.jpg");
  background-repeat: no-repeat;
  background-position: center -30px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.bg-plan.active {
  opacity: 1;
}

.content {
  width: 68%;
  position: relative;
  z-index: 2;
}

.plans {
  box-sizing: border-box;
  color: #FFF;
  position: relative;
  font-size: 14px;
  margin: 30px 0 60px 20px;
  overflow: hidden;
}
.plans li {
  box-sizing: border-box;
  width: 48%;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
}
.plans li .type-name span {
  font-size: 25pt;
}

.btn {
  border: 1px solid #fff;
  color: #FFF;
  display: inline-block;
  padding: 10px 20px;
  -webkit-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-group {
  width: 100%;
  text-indent: 0;
  margin-bottom: 20px;
  display: table;
  text-align: center;
}
.btn-group .btn {
  display: table-cell;
  border-left: none;
  font-size: 15px;
}
.btn-group .btn.active {
  background: #FFF;
  color: #baa770;
  border-right: 1px solid #ddd;
}
.btn-group :first-child {
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  border-left: 1px solid #fff;
}
.btn-group :last-child {
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}

/**
 * Range slider 
 */
.is_clickable {
  cursor: hand;
  cursor: pointer;
}

.nstSlider {
  position: relative;
  width: 100%;
  height: 20px;
}
.nstSlider .leftGrip.gripHighlighted {
  background: #fff;
}
.nstSlider .rightGrip.gripHighlighted {
  background: #fff;
}
.nstSlider .rightGrip,
.nstSlider .leftGrip {
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
}
.nstSlider .bar {
  position: absolute;
  background: #baa770;
  height: 8px;
  top: 10px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.nstSlider .highlightPanel {
  width: 100%;
  position: absolute;
  background: #fff;
  height: 8px;
  top: 10px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.nstSlider .handle {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: #999 0 0 3px;
  box-shadow: #999 0 0 3px;
}

.meter {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.meter .inner {
  display: table;
  width: 105%;
  left: -2.5%;
  position: relative;
}
.meter .inner span {
  width: 11%;
  display: table-cell;
  text-align: center;
  position: relative;
}
.meter .inner span:after {
  border-left: 1px solid #fff;
  position: absolute;
  content: ' ';
  height: 5px;
  position: absolute;
  left: 50%;
  bottom: -5px;
}
